<app-nav-bar></app-nav-bar>
<div>
  <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
          <ul class="list-unstyled components">
              <li>
                  <a [routerLink]="['/add-movie']">Add Movie</a>
              </li>
              <li>
                  <a href="#">Portfolio</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
          </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
