.chair {
  background-color: palevioletred;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
}

.double {
  background-color: green;
}

.hall-map {
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
}

.screen {
  background-color: black;
  width: 500px;
  height: 20px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.countDown {
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 3px;
}


.seat:hover {
  background-color: black;
}
